.bg-container {
    background-image: url("https://img.freepik.com/premium-photo/sunrise-view-morning-mountains_38649-228.jpg?w=360");
    background-size: cover;
    height: 100vh;

}

.tour-heading {
    font-family: "Bree Serif";
}

.tour-para {
    font-family: "Roboto";
}

.tour-card {
    text-align: center;
    background-color: lightblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
    font-size: 17px;
}

.favourite-place-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    height: 100vh;
    background-size: cover;
}

.favourite-place-heading {
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 15px;
}

.favourite-place-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.favourite-place-card-description {
    color: #6c6b70;
    font-family: "Roboto";
    font-size: 15px;
}

.favourite-place-card-image {
    width: 80px;
    height: 100px;
}

.back-button {
    color: white;
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    width: 80px;
}

.detailed-view-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    height: 100vh;
    background-size: cover;

}

.detailed-view-heading {
    color: white;
    font-size: 35px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 15px;
}

.detailed-view-card-container {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 16px;

}

.detailed-view-heading-section {
    color: Blue;
    font-family: "Roboto";
    font-weight: bold;
}

.div-text-container {
    padding: 15px;
}

.detailed-view-para-section {
    color: indigo;
    font-family: "Roboto";
    font-size: 20px;
}

.unordered-list {
    list-style-type: circle;
}